* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  background: rgb(3, 66, 82);
  padding: 0 20px;
}

.app {
  max-width: 500px;
  margin: 150px auto;
  position: relative;
  padding-top: 265px;
}

.app__form {
  position: absolute;
  top: 0;
  left: 0;
  background: #fff;
  width: 100%;
}

.app__search {
  height: 61px;
  width: 100%;
  outline: none;
  border: none;
  padding: 0 24px 0 24px;
  font-size: 18px;
}

.app__autocomplete-list {
  padding: 0;
  opacity: 0;
  pointer-events: none;
  max-height: 280px;
  overflow-y: auto;
}

.app__autocomplete-item {
  list-style: none;
  padding: 8px 12px;
  display: none;
  width: 100%;
  cursor: default;
  border-radius: 3px;
}

.app__form--active .app__autocomplete-list {
  padding: 10px 8px;
  opacity: 1;
  pointer-events: auto;
}

.app__form--active .app__autocomplete-item {
  display: block;
}

.app__autocomplete-item:hover {
  background: #65CDF9;
}

.app__search-result-list {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.app__search-result-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #E27BEB;
  list-style: none;
  padding: 8px 12px;
  width: 100%;
  cursor: default;
}

.app__search-result-remove {
  font-size: 2rem;
  cursor: pointer;
}